{% extends "base.html" %}
{% block title %}Login System{% endblock %}

{% block content %}
<table id="TransactionTable" align="left" border="1" cellpadding="3" cellspacing="0">
<tr>
{% for data in transaction[0] %}
  
    <td>
      {{ data }}
    </td>
  
{% endfor %}
<tr>
{% for data in transaction %}
  <tr>
    {% for cell in data %}
    <td>
      {{ data[cell] }}
    </td>
   {% endfor %}
  </tr>
{% endfor %}
</table>
{% endblock %}

<script>
<!--    function myFunction() {-->
<!--  var x = document.createElement("TH");-->
<!--  var t = document.createTextNode("table header cell");-->
<!--  x.appendChild(t);-->
<!--  document.getElementById("myTr").appendChild(x);-->
<!--}-->
</script>
