{% extends "base.html" %}
{% block title %}Login System{% endblock %}

{% block content %}
  <script src="https://unpkg.com/html5-qrcode"></script>
  <div id="qr-reader" style="width: 300px"></div>
  <device type="media" onchange="update(this.data)"></device>
  <center><a class = "button btn btn-primary" href = "/" >Menu</a></center>
  <video autoplay></video>
  <script>
    function stopScan() {
    }
    function onScanSuccess(decodedText, decodedResult) {
        html5QrcodeScanner.clear();
        decodedText = decodedText.slice(-4);
        window.location = '/viewBalance?code='+decodedText;
     
    }
    var html5QrcodeScanner = new Html5QrcodeScanner(
    "qr-reader", { fps: 5, qrbox: 350, disableFlip: true });
    html5QrcodeScanner.render(onScanSuccess);
  // });
  </script>
{% endblock %}
