{% extends "base.html" %}
{% block title %}Login System{% endblock %}

{% block content %}
      <script src="https://unpkg.com/html5-qrcode"></script>
        <h3>Swaril </h3>
        <div id="qr-reader" style="width: 600px"></div>
        <device type="media" onchange="update(this.data)"></device>
<video autoplay></video>
 <-- <script>
    function update(stream) {
    document.querySelector('video').src = stream.url;
    }
</script> -->
  <script>
    function stopScan() {
    }
    function onScanSuccess(decodedText, decodedResult) {
    //  console.log(`Code scanned = ${decodedText}`, decodedResult);
     let s = "/viewBalance/".decodedResult
     window.location = '/viewBalance?code='+decodedText;
    }
    var html5QrcodeScanner = new Html5QrcodeScanner(
    "qr-reader", { fps: 10, qrbox: 150, disableFlip: true });
    html5QrcodeScanner.render(onScanSuccess);
  // });
  </script>
{% endblock %}
