{% extends "base.html" %}
{% block title %}Login System{% endblock %}

{% block content %}

{% if message  %}
    <div class="alert alert-secondary" role="alert">
        <p>{{ message }}</p>
    </div>
{% endif %}

<form action="/menu" >
<!--    <input type="file" accept="image/*" capture="camera">-->
    <label for="InputUsername">Name</label>
    <input name="email" class="form-control" id="InputUsername"  placeholder={{ Username }} disabled>
    <label for="InputBalance">Balance</label>
    <input  name="email" class="form-control" id="InputBalance"  placeholder= {{ Balance }} disabled>
</form>
{% endblock %}
