{% extends "base.html" %}
{% block title %}Login System{% endblock %}

{% block content %}

{% if message  %}
    <div class="alert alert-secondary" role="alert">
        <p>{{ message }}</p>
    </div>
{% endif %}

<form action="/menu" >
<!--    <input type="file" accept="image/*" capture="camera">-->
	<label for="InputTotalDepositedAmount">Total Depoited Money</label>
    <input name="moneyDeposited" class="form-control" id="InputTotalDepositedAmount"  placeholder={{ MoneyDeposited }} disabled>
    <label for="InputUsername">Name</label>
    <input name="email" class="form-control" id="InputUsername"  value={{ Username }} >
    <label for="InputBalance">Balance</label>
    <input name="email" class="form-control" id="InputBalance"  value= {{ Balance }} disabled>
    <label for="InputPhoneNumber">Phone Number</label>
    <input name="email" class="form-control" id="InputPhoneNumber"  value={{ phone_number }} >
    <label for="amount">Amount</label>
    <input name="email" class="form-control" type="number" id="amount"  placeholder=  "Enter Amount" >
    <button type = "button" class = 'btn btn-primary' onclick = "credit( {{ Balance }}, {{ code }} )" > Credit </button>
    <a class = "button btn btn-primary" href = "/scanQRcredit" >Scan QR</a>
    <a class = "button btn btn-primary" href = "/logout" >Log Out</a>
</form>
    <script>
        function credit(balance, code ) {
        amount = document.getElementById('amount').value;
        name = document.getElementById('InputUsername').value;
        phone_number = document.getElementById('InputPhoneNumber').value;
	console.log(amount, name, phone_number, balance, code);
        var xhr = new XMLHttpRequest();
        xhr.open("POST", "/credit", true);
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.send(JSON.stringify({
            amount: amount,
            code: code,
            balance: balance,
            name: name,
            phone_number: phone_number
        }));
        xhr.onload = function() {
          console.log("HELLO")
          console.log(this.responseText);
          var data = JSON.parse(this.responseText);
          console.log(data);
          alert('Credit Successful');
          if( data['balance'] )
            document.getElementById('InputBalance').value = data['balance'];
          if( data['name'] )
            document.getElementById('InputUserName').value = data['name'];
          if( data['phone_number'] )
            document.getElementById('InputPhoneNumber').value = data['phone_number'];
    	  if(data['amount_credited'])
		document.getElementById('InputTotalDepositedAmount').value = data['amount_credited'];
	}
}
    </script>
{% endblock %}
